{{#if url}}
<img onerror="update_url('{{url}}')" src="error"/>
{{/if}}

<style>
#content > div.not_found h1 {
    color: #ccc;
    text-align: center;
    margin-top: calc(25% - 1em);
}
</style>
<title>404 - não encontrado</title>
{{#if auth}}
<a class="admin" href="./../../../../../../../admin">Admin</a>
{{/if}}
<div class="not_found">
    <h1>404 - não encontrado</h1>
</div>
