{{#if url}}
<img onerror="update_url('{{url}}')" src="error"/>
{{/if}}

<link rel='stylesheet' type='text/css' href="./../css/form.css">
<title>Add category</title>

{{#if auth}}
<a class="admin" href="./../admin">Admin</a>
{{/if}}
<div class="form">
    <form>
        <p>Nome</p>
        <input type='text' name="name"><br>
        <p>Slug</p>
        <input type='text' name="level"><br><br>
        <input type="submit" value="Enviar">
    </form>
</div>
