{{#if url}}
<img onerror="update_url('{{url}}')" src="error"/>
{{/if}}

<link rel='stylesheet' type='text/css' href="./../css/form.css">
<title>Add category</title>
{{#if auth}}
<a class="admin" href="./../admin">Admin</a>
{{/if}}
<div class="form">
    <form>
        <p>Nome</p>
        <input type='text' name="name"><br>
        <p>Nível</p>
        <input type='text' name="level"><br><br>
        <p>Categoria</p>
        <td><select name='category_id'>
            {{#each categories}}
                <option value='{{@key}}'{{#if_eq ./../category.pk @key}}selected{{/if_eq}}>{{this}}</option>
            {{/each}}
        </select></td>
        <input type="submit" value="Enviar">
    </form>
</div>
