{{#if url}}
{{!-- For some reason using <script>update_url("{{url}}")</script> sends the url encoded in the wrong way --}}
<img onerror="update_url('{{url}}')" src="error"/>
{{/if}}

<link rel='stylesheet' type='text/css' href='../css/admin.css'>
<script src='../js/admin.js'></script>
<script src='../js/edit.js'></script>
<title>Admin Menu</title>
<div class="admin">
    <table id="subjects">
        <thead>
            <tr>
                <th style="text-align:left;" colspan="6"><h1>Matérias</h1></th>
            </tr>
            <tr>
                <th>Nível</th>
                <th>Nome</th>
                <th>Categoria</th>
                <th></th>
                <th><a class="subject add" href="add/subject"><div class="add"></div></a></th>
                <th class='locked'></th>
            </tr>
        </thead> 
        <tbody>
            <tr class="subject add hide" name="form">
                <td><input type="text" name="level"></td>
                <td><input type="text" name="name"></td>
                <td><select name='category'>
                    {{#each categories}}
                        <option value='{{pk}}'>{{slug}}</option>
                    {{/each}}
                </select></td>
                <th colspan="2"><input type="submit" name="submit" value="Adicionar"></td>
            </tr>
            {{#each subjects}}
            <tr>
                <td name="level">{{level}}</td>
                <td name="name">{{name}}</td>
                <td name="slug">{{category.slug}}</td>
                <td><a class="subject edit" href="edit/subject/{{pk}}"><div class="edit"></div></a></td>
                <td><a class="subject remove" href="remove/subject/{{pk}}"><div class="remove"></div></a></td>
                <td class='locked'></td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <table id="categories">
        <thead>
            <tr>
                <th style="text-align:left;" colspan="4"><h1>Categorias</h1></th>
            </tr>
            <tr>
                <th>Nome</th>
                <th>Slug</th>
                <th></th>
                <th><a class="category add" href="add/category"><div class="add"></div></a></th>
            </tr>
        </thead>
        <tbody>
            <tr class="category add hide" name="form">
                <td><input type="text" name="name"></td>
                <td><input type="text" name="slug"></td>
                <th style="text-align:left;" colspan="2"><input type="submit" name="submit" value="Adicionar"></td>
            </tr>
            {{#each categories}}
            <tr>
                <td name="name">{{name}}</td>
                <td name="slug">{{slug}}</td>
                <td><a class="category edit" href="edit/category/{{pk}}"><div class='edit'></div></a></td>
                <td><a class="category remove" href="remove/category/{{pk}}"><div class='remove'></div></a></td>
            </tr>
            {{/each}}
        </tbody>
    </table>

    <table id="contents">
        <thead>
            <tr>
                <th style="text-align:left;" colspan="8"><h1>Conteúdos</h1></th>
            </tr>
            <tr>
                <th>Nível</th>
                <th>Nome</th>
                <th>Tipo</th>
                <th>Matéria</th>
                <th>Categoria</th>
                <th>Conteúdo</th>
                <th></th>
                <th><a class="content add" href="add/content"><div class="add"></div></a></th>
            </tr>
        </thead>
        <tbody>
            <tr class="content add hide" name="form">
                <td><input type="text" name="level" value=""></td>
                <td><input type="text" name="name" value=""></td>
                <td><select name="type">
                    {{#each types}}
                    <option value="{{@key}}">{{this}}</option>
                    {{/each}}
                </select></td>
                <td colspan="2"><select name="subject">
                    {{#each subjects}}
                    <option value="{{pk}}" data-category_slug="{{category.slug}}">{{name}} - {{category.slug}}</option>
                    {{/each}}
                </td></select>
                <td>--</td>
                <td colspan="2"><input type="submit" name="submit" value="Continuar"></td>
            </tr>
            {{#each contents}}
                <tr>
                    <td>{{level}}</td>
                    <td>{{name}}</td>
                    <td>{{type.slug}}</td>
                    <td>{{subject.name}}</td>
                    <td>{{subject.category.slug}}</td>
                    <td>{{len_limit info 20}}</td>
                    <td><a class="content edit redirect" href="add/content?type={{type.slug}}&pk={{pk}}&edit"><div class="edit"></div></a></td>
                    <td><a class="content remove" href="remove/content/{{pk}}"><div class="remove"></div></a></td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>
