<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src='../../../js/base.js'></script>
        <link rel='stylesheet' type='text/css' href='../../../css/base.css'>
    </head>
    <body>
        <div id='top_menu'>
            <ul>
                <li><a href='/'><div>Home</div></a></li>
                <li><a href='https://bitbucket.org/paulocsanz/aprendalibre'><div>Código Fonte</div></a></li>
            </ul>
        </div>
        <div id='content'>
            {{{content}}}
        </div>
    </body>
<html>
