{{#if url}}
<img onerror="update_url('{{url}}')" src="error"/>
{{/if}}

<title>Login</title>
<link rel='stylesheet' type='text/css' href='css/form.css'>
{{#if auth}}
<a class="admin" href="admin">Admin</a>
{{/if}}
<div class="form">
    <form method="POST" action="login">
        {{#if next}}
        <input type="text" class="hide" name="next" value="{{next}}">
        {{/if}}
        <p>Usuário</p>
        <input type="text" name="username">
        <p>Senha</p>
        <input type="password" name="password">
        <input type="submit" value="Entrar">
    </form>
</div>
