{{#if url}}
<img onerror="update_url('{{url}}')" src="error"/>
{{/if}}

<script src='js/subjects.js'></script>
<script src='js/edit.js'></script>
<link rel='stylesheet' type='text/css' href='css/subjects.css'> 
<title>aprendalibre</title>
<div class="subjects">
    {{#if auth}}
    <a class="admin" href="admin">Admin</a>
    <a class="category add" href="add/category"><div class="add"></div></a>
    <div class="category add hide" name="form">
        <input type="text" name="name" value="">
        <input type="submit" name="submit" value="Adicionar">
    </div>
    {{/if}}
    {{#each categories}}
    <div class='class_box {{#if_ste (len subjects) 4}}small{{else}}big{{/if_ste}}'>
            <h2>{{name}}</h2>
            {{#if ../auth}}
            <a class="subject add" href="add/subject?category_slug={{slug}}"><div class="add"></div></a>
            <div class="subject add hide" name="form">
                <input type="text" style="display:none" name="category_slug" value="{{slug}}">
                <input type="text" style="display:none" name="category_pk" value="{{pk}}">
                <input type="text" name="name">
                <input type="text" name="level">
                <input type="submit" name="submit" value="Adicionar">
            </div>
            {{/if}}
            {{#each subjects}} 
                <a class="subject content" href='{{../slug}}/{{level}}'><div><p>{{name}}</p></div></a>
            {{/each}}
        </div>
    {{/each}}
</div>
