{{#if url}}
<img onerror="update_url('{{url}}')" src="error"/>
{{/if}}

<link rel='stylesheet' type='text/css' href='../../css/subject.css'>
<title>{{name}} - aprendalibre</title>
<h1 class='subject_name'>{{name}}</h1>
<div class="subject">
    {{#if auth}}
    <a class="admin" href="./../../admin">Admin</a>
    {{/if}}

    {{#if contents}}
    {{#each contents}}
        {{#each this}}
            {{#if_eq @key 0}}
                <div class='content_list_box h {{type.slug}}'>
                <h1 style="display: inline-block;">{{type.name}}</h1>
                {{#if ./../../auth}}
                <a class="content add" href="./../../add/content?type={{type.slug}}&subject_pk={{./../../pk}}&level={{sum (len ./../this) 1}}&category_slug={{./../../category.slug}}"><div class="add"></div></a>
                {{/if}}
                <div class='content_holder'>
            {{/if_eq}}
            <a href='../../{{url}}'>
                <div class='content_box'>
                    {{#if_eq type.slug 'video'}}
                    <p>{{level}} - {{name}}</p>
                        <span class='play {{type.slug}}_play' aria-hidden='true'></span>
                        <img class='{{type.slug}}_thumbnail' src='https://i.ytimg.com/vi/{{info}}/hqdefault.jpg'>
                        {{!--<iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/{{info}}?rel=0" frameborder="0" allowfullscreen></iframe>--}}
                    {{/if_eq}}
                    
                    {{#if_eq type.slug 'resumo'}}
                        <h3>{{#if_n_eq level (slugify name)}}{{level}} - {{/if_n_eq}}{{name}}</h3>
                    {{/if_eq}}
                </div>
            </a>
            {{#if_last ../this @key}}
                </div></div>
            {{/if_last}}
        {{/each}}
    {{/each}}
    {{/if}}
</div>
