{{#if url}}
{{!-- For some reason using <script>update_url("{{url}}")</script> sends the url encoded in the wrong way --}}
<img onerror="update_url('{{url}}')" src="error"/>
{{/if}}

<link rel='stylesheet' type='text/css' href='./../../../css/summary.css'>
<title>{{content.type.name}} {{content.level}} de {{content.subject.name}}: {{content.name}} - aprendalibre</title>
<div class="summary">
    {{#if auth}}
    <a class="admin" href="/../../../admin">Admin</a>
    {{/if}}
    <div class='content_box_{{content.type.slug}}'>
        {{#if auth}}
        <a class="content edit redirect" href="./../../../add/content?type={{content.type.slug}}&pk={{content.pk}}&edit"><div class="edit"></div></a>
        {{/if}}
        <h1>{{content.subject_name}}</h1>
        <h2>{{#if_n_eq content.content_level (slugify content.name)}}{{content.content_level}} - {{/if_n_eq}}{{content.name}}</h2>
        <div>{{content.info}}</div>
    </div>

    <div class='content_list_box v {{content.type.slug}}'>
        {{#each content_list}}
            <a href='./../../../{{url}}'><div class='content_box{{#if_eq level ../content.level}} current{{/if_eq}}' {{#if_eq @key 0}}style='margin-top:1em;'{{/if_eq}}>
                <h2>{{#if_n_eq content_level (slugify name)}}{{level}} - {{/if_n_eq}}{{name}}</h2>
            </div></a>
        {{/each}}
    </div>
</div>
