{{#if url}}
{{!-- For some reason using <script>update_url("{{url}}")</script> sends the url encoded in the wrong way --}}
<img onerror="update_url('{{url}}')" src="error"/>
{{/if}}

<title>{{#if edit}}Editar{{else}}Adicionar{{/if}} Resumo</title>
<link rel='stylesheet' type='text/css' href='./../css/summary.css'>
<link rel='stylesheet' type='text/css' href='./../css/summary_edit.css'>
<div class="summary_edit summary">
    {{#if auth}}
    <a class="admin" href="./../admin">Admin</a>
    {{/if}}
    <form action="content" class='content_box_{{type_slug}}'>
        <div class='config'>
            <div><p>Matéria: </p>
                <select name="subject_pk" value="{{subject_pk}}">
                {{#each subjects}} 
                    <option value="{{@key}}"{{#if_eq @key ./../subject_pk}} selected="true"{{/if_eq}}>{{name}} - {{category_slug}}</option>
                {{/each}}
                </select>
            </div>
            {{#if edit}}
                <input name="edit" class='hide' value="">
                <input name="pk" class='hide' value="{{pk}}">
            {{else}}
                <input name="create" class='hide' value="">
            {{/if}}
            <input name="type" class='hide' value="{{type_slug}}">
            <div><p>Nível: </p><input name="level" value="{{level}}"></div>
            <div><p>Nome: </p><input name="name" value="{{name}}"></div>
            <div>
                <input name="submit" type="submit" value="{{#if edit}}Editar{{else}}Adicionar{{/if}}">
                {{#if edit}}
                <a href="./../{{category_slug}}/{{subject_level}}/{{type_slug}}/{{level}}" target="_blank" ><input type="submit" value="Ver"></a>
                {{/if}}
            </div>
        </div>
        <div class='manual'>
            <!--<h1>{{#if edit}}Edite{{else}}Adicione{{/if}} um resumo</h1>-->
            <pre>Para customizar o conteúdo e facilitar o aprendizado dos estudantes é possível utilizar certos comandos:</pre>
            <pre>        [b]texto[/b] -> <b>texto</b>; [i]texto[/i] -> <i>texto</i>; [tab] -> *4 espaços*;</pre>
            <pre>        [h1]texto[/h1] -> <h1>texto</h1>; [h2]texto[/h2] -> <h2>texto</h2></pre>
            <pre>        [a]Wikipédia|wikipedia.org[/a] -> <a href="//wikipedia.org">Wikipédia</a></pre>
            <pre>Para exibir um | no endereço ou no nome do link ([a]) digite \|, para exibir uma \ na tela digite \\</pre>
            <pre>Para exibir o comando na tela em vez de formatar basta inserir uma \ antes do código, ficando por exemplo:</pre>
            <pre>        [\b]texto[/\b] -> [b]text[/b]</pre>
            <pre>Além disso é possível exibir fórmulas matemáticas utilizando a sintaxe TeX ou MathML com as tags [tex][/tex] e [math][/math]</pre>
            <pre>        Como utilizar notação TeX:  <a href='https://pt.wikipedia.org/wiki/Ajuda:Guia_de_edi%C3%A7%C3%A3o/F%C3%B3rmulas_TeX'>Fórmulas TeX - Wikipédia</a></pre>
            <pre>        Como utilizar notação MathML: <a href='https://developer.mozilla.org/pt-BR/docs/Web/MathML/Element'>Elementos de MathML</a></pre>
        </div>
        <div class='summary'><textarea name="info">{{info}}</textarea></div>
    </form>
</div>
