#content table {
    float: left;
    text-align: center;
    width: 45%;
    background-color: #ccc;
    padding: 1em 3em;
    margin: 2%;
}

#content #subjects {
    float: right;
}

#content table tr.category > td {
    max-width: calc(100% - 100% / 3); /* 3 td */
}

#content table tr.subject > td {
    max-width: calc(100% - 100% / 6); /* 6 td */
}

#content table tr.content > td {
    max-width: calc(100% - 100% / 8); /* 8 td */
}

#content table tr > td > input, #content table > tr > td > select {
    width: 100%;
}
