/* GENERIC */
@font-face {
    font-family: "Cousine";
    src: url("../fonts/cousine.woff");
}

body, html {
    margin: 0;
    height: 100%;
    overflow: hidden;
    font-family: "Cousine" !important;
}

* {
    box-sizing: border-box;
}

img[src="error"]{
    display: none;
}

a, a:hover, a:active, img, img:hover, img:active {
    text-decoration: none;
    border: none;
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.1;
    margin: 20px 0 10px;
}

ol, ul {
    margin: 0 0 10px;
}

.hide {
    display: none !important;
}

/* CONTENT */
#content {
    display: inline;
    position: absolute;
    width: 100%;
    height: calc(100% - 4em);
    background-color: hsl(0,0%,15%);
    padding: 2em;
    overflow-y: auto;
}

/* MENU */
#top_menu {
    background-color: rgb(105,105,105);
    height: 4em;
}

#top_menu ul {
    float: right;
}

#top_menu ul li {
    display: inline-block;
    margin: 0 2em;
}

#top_menu ul li div {
    font-size: 14pt;
    height: 2em;
    padding-top: 1em;
    color: #ccc;
}

#top_menu ul li div:hover {
    color: white;
}

#content a.admin {
    position: fixed;
    top: 0;
    color: #ccc;
    margin: 1.5em;
}

#content a.admin:hover {
    color: white
}

#content a.add > div.add {
    background: url("../../img/add.png") no-repeat;
    background-size: contain;
}

#content a.edit > div.edit {
    background: url("../img/edit.png") no-repeat;
    background-size: contain;
}

#content a.remove > div.remove {
    background: url("../img/remove.png") no-repeat;
    background-size: contain;
}

#content a.add, #content a.add > div.add,  #content a.edit, #content a.edit > div.edit, #content a.remove, #content a.remove > div.remove {
    width: 3em;
    height: 3em;
    margin: 0 auto;
}

