#content > div.form form {
    width: 20%;
    height: 25%;
    position: fixed;
    margin-left: 40%;
    top: 40%;
    background-color: #ccc;
    border-radius: 2px;
    padding: 15px 3%;
}

#content > div.form form p {
    color: hsl(0, 0, 15%);
    margin: 0;
}
