#content > div.subject h1.subject_name {
    color: #ccc;
}

/* GENERIC CONTENT LIST */
#content > div.subject .content_list_box.h {
    width: 80%;
    padding: 2em;
    margin: 2em auto;
    background-color: #687369;
}

#content > div.subject .content_list_box.h > h1 {
    margin: 0 0 20px;
}

/* VIDEO CONTENT LIST */
#content > div.subject .content_list_box.h.video .content_holder {
    overflow-y: hidden;
    white-space: nowrap;
}
/* GENERIC CONTENT BOX */
#content > div.subject .content_list_box.h .content_box {
    display: inline-block;
    color: #ccc;
    text-align: center;
}

/* RESUMO CONTENT BOX */
#content > div.subject .content_list_box.h.resumo .content_box {
    background-color: darkgreen;
    width: 47%;
    margin: 0 0 8px 2%;
    padding: 0 40px 10px;
}

#content > div.subject .content_list_box.h.resumo .content_box:hover {
    color: rgb(105,105,105);
}

/* VIDEO CONTENT BOX */
#content > div.subject .content_list_box.h.video .content_box {
    width: 360px;
    height: 260px;
    padding: 0 20px;
    background-color: hsl(0, 0%, 15%);
    overflow-y: hidden;
}

#content > div.subject .content_list_box.h.video .content_box img.video_thumbnail {
    width: 320px;
    height: 180px;
    margin-left: calc(-160px + 1em);
}

#content > div.subject .content_list_box.h.video .content_box p {
    padding: 0.5em;
    margin: 0;
    font-size: 13pt;
    white-space: normal;
    height: 45pt;
}

#content > div.subject .content_list_box.h.video .content_holder {
    margin: 0 2%;
}

#content > div.subject .content_list_box.h.video .content_box span.video_play {
    font-size: 26pt;
    width: 0;
    height: 50%;
    top: calc(-90px + 0.5em);
    margin-left: calc(160px - 0.5em);
    position: relative;
}

/* PLAY GLYPHICON */
.play {
    display: inline-block;
    background: url("../img/play.png");
}

/* content add */
#content > div.subject .content_list_box .content.add {
    float: right;
}
