/* SUBJECTS */
#content > div.subjects .class_box {
    margin: 2.5em 8%;
    padding: 0 0 2em;
    background-color: darkgreen;
    display: inline-block;
}

#content > div.subjects .class_box.small {
    width: 33%;
}

#content > div.subjects .class_box.big {
    width: calc(82% + 0.5em);
}

#content > div.subjects .class_box h2 {
    padding: 0 0.8em;
    color: #acd895;
    font-size: 40pt;
}

#content > div.subjects .class_box a.subject.content {
    display: inline-block;
    font-size: 16pt;
    text-align: center;
    height: 33%;
    color: #ccc;
}

#content > div.subjects .class_box.small a.subject.content {
    width: 49%;
}

#content > div.subjects .class_box.big a.subject.content {
    width: 24%;
}

#content > div.subjects .class_box a:hover {
    color: rgb(105,105,105);
}

#content > div.subjects a.category.add > div.add {
    right: 0;
    position: absolute;
    margin: 0 2em 0 0;
}

#content > div.subjects .class_box a.subject.add > div.add {
    float: right;
    margin: -4em 2em 0 0;
}
