/* SUMMARY */
#content > div.summary .content_box_resumo {
    width: 64%;
    position: absolute;
    right: 18%;
    background-color: #ccc;
    color: black;
    height: 100%;
    margin: -2em auto;
    overflow-x: hidden;
}

#content > div.summary form div.manual {
    float: right;
}

#content > div.summary .content_box_resumo h1, #content > div.summary .content_box_resumo h2 {
    margin: 0;
    padding: 1.5em 0 0 1.5em;
}

#content > div.summary .content_box_resumo div {
    padding: 1.5em 2em;
}

#content > div.summary .content_list_box.v.resumo {
    position: absolute;
    right: 0;
    top: 5em;
    width: 18%;
    padding: 0;
    overflow-x: hidden;
}

#content > div.summary .content_list_box.v.resumo .content_box {
    background-color: darkgreen;
}

#content > div.summary .content_list_box.v.resumo .content_box h2 {
    font-size: 15pt;
    padding: 1.5em;
    color: #ccc;
}

#content > div.summary .content_list_box.v.resumo .content_box.current h2 {
    background-color: #ccc;
    color: black;
}

#content > div.summary .content_list_box.v.resumo a .content_box h2:hover {
    color: white;
}

#content > div.summary .content_list_box.v.resumo .content_box.current h2:hover {
    color: black;
    cursor: default;
    /*color: rgb(105, 105, 105);*/
}

#content > div.summary .content_box_resumo > .content.edit.redirect {
    margin: 3em;
    z-index: 1;
    float: right;
}

/* MATH FORMAT */
#content > div.summary .content_box_resumo div.math {
    display: inline-block;
}
