#content > div.summary_edit > form > div, #content > div.summary_edit > form > div.config > div {
    padding: 0;
}

#content > div.summary_edit > form > div.config{
    width: 30%;
    float: left;
}

#content > div.summary_edit > form > div.config > div > p {
    width: 5em;
    display: inline-block;
}

#content > div.summary_edit > form.content_box_resumo {
    width: 75%;
    right: 12.5%;
    margin-left: 2em;
}

#content > div.summary_edit > form > div.summary {
    width: 100%;
    margin-top: 25em;
    height: calc(100% - 25em);
    background-color: white;
    padding: 0;
}

#content > div.summary_edit > form > div.manual {
    float: right;
    width: 65%;
    margin: 0 2em;
}

#content > div.summary_edit > form > div.manual > p {
    display: block;
}

#content > div.summary_edit > form > div.summary > textarea {
    width: calc(100% - 4em);
    height: calc(100% - 4em);
    margin: 2em 2em 0;
    border: 0;
}

#content > div.summary_edit h1, #content > div.summary_edit h2 {
    display: inline;
    padding: 0 !important;
}

